.container-listas{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo{
    color: black;
    margin: 30px;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.lista{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 210px;
}

.lista ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link-card{ 
    text-decoration: none;
}